<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/books/{id}(id=${thisBook.getId()})}" th:object="${thisBook}">
    <label for="name">Enter book name:</label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Book Name error</div>
    <br/>
    <label for="yearOfCreate">Enter year of creation:</label>
    <input type="text" th:field="*{yearOfCreate}" id="yearOfCreate"/>
    <div style="color: red" th:if="${#fields.hasErrors('yearOfCreate')}" th:errors="*{yearOfCreate}">Year of create error</div>
    <br/>
    <label for="author">Enter author name:</label>
    <input type="text" th:field="*{author}" id="author"/>
    <div style="color: red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Author name error</div>
    <br/>
    <input type="submit" value="Update!"/>
</form>

</body>
</html>