<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Книга</title>
</head>
<body>

<p th:text="${thisBook.getName() + ', ' + thisBook.getAuthor() + ', ' + thisBook.getYearOfCreate()}">VALUE</p>

<hr/>

<div th:if="${owner}">
    <span>Book now on: </span> <span th:text="${owner.getFIO()}">Person Name</span>

    <form th:method="PATCH" th:action="@{/books/{id}/release(id=${thisBook.getId()})}">
        <input type="submit" value="Release book"/>
    </form>
</div>

<div th:if="${people}">
    <span>This book is available. Who will be owner?</span>
    <form th:method="PATCH" th:action="@{/books/{id}/select(id=${thisBook.getId()})}">
        <label for="person">Select person:</label>
        <select th:object="${person}" th:field="*{id}" id="person">
            <option th:each="person : ${people}" th:value="${person.getId()}" th:text="${person.getFIO()}">Person name</option>
        </select>

        <input type="submit" value="Select person:"/>
    </form>
</div>

<!--<form th:method="PATCH" th:action="@{/books/{id}/select(id=${thisBook.getId()})}">-->
<!--    <label for="person">Select person:</label>-->
<!--    <select th:object="${person}" th:field="*{id}" id="person">-->
<!--        <option th:each="person : ${people}" th:value="${person.getId()}" th:text="${person.getFIO()}">Person name</option>-->
<!--    </select>-->

<!--    <input type="submit" value="Select person:"/>-->
<!--</form>-->

<hr/>

<form th:method="GET" th:action="@{/books/{id}/edit(id=${thisBook.getId()})}">
    <input type="submit" value="Edit"/>
</form>

<br/>

<form th:method="DELETE" th:action="@{/books/{id}(id=${thisBook.getId()})}">
    <input type="submit" value="Delete"/>
</form>

</body>
</html>